.App 
{
  text-align: center;
  width:100%;  
}
.container
{
  text-align: center;
  /* width:20%; */
  margin:0 auto;
}
h1
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:#FC4A42;
  font-size: 40px;
  margin-top:100px;
}
.text
{
  height: 30px;
  width:310px;
  font-size: 20px;
}
.list
{
  margin-top: 20px;
  margin:0 auto;  
  width:310px;  
  margin-top: 30px;
  border:1px solid #BDC3C7;
  min-height: 100px;
  text-align: left;
}
#p
{  
  height: 10px;
  padding-bottom: 10px;
  float: left;
  margin-left: 10px;
}
#btn
{
  float: right;
  margin-right: 20px;
  margin-top: 13px;
}
.hr
{
  width:100%;
  border:0.5px solid #BDC3C7;
}